@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Orbitron:wght@400;500;700;800;900&family=Poppins:wght@200;400;500;700;900&family=Raleway:wght@200;400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

.main-navbar {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
    width: auto;
    height: auto;
    z-index: 2;
}

.sticky {
    position: sticky;
    top: 0;
}

#navbar {
    background-color: white;
}

hr {
    border-top: 1px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    height: 5.4rem;
}

.logo {}

.logo a {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.logo a {
    color: #8833d2;
}

.dropdown {
    display: none;
}

.header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul li {
    display: list-item;
}

.header ul li a {
    margin: 0.5rem;
    color: #121212;
    font-size: 1rem;
}

.header ul li a:hover {
    padding-bottom: 3px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;

}

.btn [type="submit"] {
    text-align: center;
    color: white;
    background-color: rgb(126 34 206);
    padding-left: 0.75rem;
    border: none;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
        inset 2px 2px 5px rgba(255, 255, 255, 0.35),
        inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    text-shadow: 3px 3px 5px black;
    cursor: pointer;
}

.btn [type="submit"]:hover {
    background-color: rgb(118, 17, 206);
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #8833d2;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #8833d2;
    transform-origin: bottom right;
    /* transition: transform 0.3s ease-out; */
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.darkmode {
    color: #7e22ce;
    margin: 0px 4px 0px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 47px;
    font-size: 32px;
    width: 28px;
    height: 28px;

}



/* tutorial links */
.tut-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45px;
    padding: 0.25rem 2.5rem;
}

.tut-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
}

.tut-links ul li {
    /* margin-left: 1.75rem; */
    /* padding: 1.13rem; */
}

.tut-links ul li a {
    color: #8833d2;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 18px;
}

.tut-links ul li a:hover {
    padding-bottom: 6px;
}


.icon a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    line-height: 1.75rem;
    font-size: 1.25rem;
    color: #8833d2;
}

.dropdown-menu {
    display: none;
}


/* UTILITY CLASSES */
a {
    text-decoration: none;
}

.container {
    max-width: 1280px;
    margin: auto;
}



.section-1 {
    max-width: 1280px;
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 24rem;
    justify-content: space-between;
    flex-wrap: wrap;
    /* padding-left: 4.45rem;
    padding-right: 4.45rem; */
}

#sub-section-1 {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 50%;
    height: 100%;
    /* margin-left: 5rem; */
}

#section-img {
    background: linear-gradient(to top, rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)), url(image/image.jpg) no-repeat center center/cover;
    background-position: top left;
    background-size: 211%;
    width: 50%;
    height: 100%;
    clip-path: polygon(10% 0px, 100% 0%, 100% 100%, 0px 100%);
}

.welcome {
    display: block;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
    color: rgb(31 41 55);
}

.welcome span {
    color: #8833d2;
    /* margin-left: 0.5rem; */
}

#sub-section-1 p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgb(107 114 128);
    margin-top: 0.5rem;
}

.section-button {
    margin-top: 1.5rem;

}

.btn-2 {
    font-size: 0.75rem;
    line-height: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.95rem;
    padding-right: 0.95rem;
    border-radius: 0.25rem;
    border: none;
    font-weight: 600;
    cursor: pointer;

}

.section-button #free-course {
    color: rgb(229 231 235);
    background-color: rgb(17 24 39);
}

.section-button #free-course:hover {
    color: rgb(229 231 235);
    background-color: rgb(27, 33, 48);
}

.section-button #explore-blog {
    color: rgb(17 24 39);
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: rgb(156 163 175 / 24%);
}

.section-button #explore-blog:hover {
    color: rgb(17 24 39);
    background-color: rgba(55, 58, 65, 0.24);
}

/* SECTION-1 ENDS HERE */

/* SECTION-2 STARTS HERE */
.section-2 {
    max-width: 1280px !important;
    margin-top: 0.5rem;
    /* margin-left: 5.5rem;
    margin-right: 5.5rem; */
}

.main-heading {
    /* border: 1px solid yellow; */
    text-align: center;
    font-weight: 500;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-size: 1.875rem;
    color: rgb(17 24 39);
}

.card-container {
    /* max-width: 1180px; */
    margin-inline: auto;
    /* border: 1px solid blue; */
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
}

.card-wrapper {
    width: 33.333%;
    padding: 1rem;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
    max-width: 24rem;
    margin: auto;
    border-radius: 1rem;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.cards:hover {
    transform: translateY(-3px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.thumbnail {
    width: 100%;
    display: flex;
    /* width: 23rem; */
    height: 100%;
}

.thumbnail img {
    width: 100%;
}

.contentpara {
    padding: 1rem 1.5rem;
    height: 13rem;
}

.s-h {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 2rem;
    margin-bottom: 0.25rem;
    color: rgb(156 163 175);
    text-align: center;
    letter-spacing: 0.1rem;
}

.lng-hdig {
    color: rgb(17 24 39);
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;
    margin-bottom: 0.75rem;
    text-align: left;
}

.contentpara p {
    display: block;
    color: rgb(55 65 81);
    font-size: 1rem;
    line-height: 1.5rem;
}

.startwatching {
    padding: 1rem 1.5rem 0.5rem 1.5rem;
    width: 100%;
}

.startwatching span {
    display: inline-block;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    padding: 0.5rem 0.75rem;
    margin: 1rem 0.5rem 0.5rem 0;
    background-color: rgb(118, 17, 206);
    border-radius: 9999px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.startwatching span:hover {
    background-color: rgb(126 34 206);
    /* letter-spacing: 0.2rem; */
}

.section-3 {
    /* max-width: 1536px !important; */
    /* margin-left: 5.5rem;
    margin-right: 5.5rem; */
}

.testimonial-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.25rem;
    /* flex-wrap: wrap; */
    gap: 2rem;
}

.testimonial-card {
    min-height: 100%;
    background-color: rgb(243 244 246);
    border-radius: 0.5rem;
    overflow: hidden;
}

.testi-content {
    padding: 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.material-symbols-outlined {
    width: 1.25rem;
    height: 1.25rem;
    display: block !important;
    color: rgb(156 163 175);
    font-size: 2rem !important;
    margin-bottom: 1rem;
    text-align: left !important;
}

.testi-content p {
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    margin-bottom: 1.5rem;
    color: rgb(75 85 99);
    line-height: 1.625;
    text-align: left;
}

.user-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 1rem;
}

.user-name .name {
    color: rgb(17 24 39);
    font-weight: 600;
}

.user-name .role {
    color: rgb(75 85 99);
    font-size: .875rem;
    line-height: 1.25rem;
}

/* footer  */
footer {
    /* margin-left: 5.5rem;
    margin-right: 5.5rem; */
    padding: 1rem 1.25rem;
    /* max-width: 1536px !important; */
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo span {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-left: 0.75rem;
}

/* .copyright{
 
} */
.copyright p {
    padding-left: 1rem;
    border-left: 2px solid rgb(229 231 235);
    font-size: 0.875rem;
    line-height: 3.25rem;
    color: rgb(107 114 128);
    text-align: center;
}